Agent.json
{
  "name": "Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "id": "07a132be-2fa8-4d28-9131-c5af0493b3b6",
      "name": "Receive Msg",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        144
      ],
      "webhookId": "cd6a871f-d5f8-41b1-bd98-7b03a2be56a3",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "rugiPb9XjpNfmDce",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "messageType",
              "value": "={{ $json.messages[0].type }}",
              "type": "string"
            },
            {
              "name": "from",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            },
            {
              "name": "messageId",
              "value": "={{ $json.messages[0].id }}",
              "type": "string"
            },
            {
              "name": "senderName",
              "value": "={{ $json.contacts ? $json.contacts[0].profile.name : '' }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "name": "text",
              "value": "={{ $json.messages[0].type === 'text' ? $json.messages[0].text.body : '' }}",
              "type": "string"
            },
            {
              "name": "audioId",
              "value": "={{ $json.messages[0].type === 'audio' ? $json.messages[0].audio.id : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0fa1f8d-0fed-4472-95ac-689c99ed1f1b",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "930e8822-c798-42d6-80d9-7038a111125d",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        32
      ]
    },
    {
      "parameters": {
        "operation": "mediaUrl",
        "phoneNumberId": "={{ $env.WA_PHONE_NUMBER_ID }}"
      },
      "id": "608af9d2-5009-4df3-bfc5-e8d73d4df257",
      "name": "Get Audio Media URL",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        16,
        -112
      ],
      "webhookId": "54e6b735-903a-476a-b700-295928c4e8cf",
      "credentials": {
        "whatsAppApi": {
          "id": "zU8vkUNxUe8Yu9EL",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.META_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "2fafdc51-6306-41c3-b7c9-ceab0cb4810a",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -112
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "cd7e9ff9-cd82-42eb-935c-a9e9599c14b2",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        368,
        -112
      ],
      "credentials": {
        "openAiApi": {
          "id": "VQVCMgBfyEgCrw5b",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "text",
              "value": "={{ $json.text || $json.transcript || $json.output || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a37d7b70-9604-4c67-9afc-98c252a4a23b",
      "name": "Use Transcript",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -112
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_BASE_URL + '/api/whatsapp/customer?waId=' + $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.APP_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd3d994b-8067-4c43-8726-fa69861280ad",
      "name": "Load Customer Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL + '/api/whatsapp/chat' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.APP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $json.from }}\",\n  \"messageText\": {{ JSON.stringify($json.text) }},\n  \"waMessageId\": \"{{ $json.messageId }}\",\n  \"senderName\": \"{{ $json.senderName }}\",\n  \"messageType\": \"{{ $json.messageType }}\"\n}",
        "options": {}
      },
      "id": "95d03431-f23a-464f-af70-0500cb398fbd",
      "name": "Store Inbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "152967f8-40fc-4013-9ee8-686a369a7cf1",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.botActive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9485ff1-9ba6-429f-b631-d1d5c4232339",
      "name": "Bot Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this WhatsApp message and return strict JSON only.\\n\\nCustomer name: {{ $('Normalize Input').item.json.senderName }}\\nWhatsApp number: {{ $('Normalize Input').item.json.from }}\\nMessage: {{ $('Normalize Input').item.json.text }}\\n\\nReturn keys:\\nintent, route, risk, needsHuman, confidence, serviceType, issueSummary\\n\\nroute must be one of: business, general, emergency, human\\nrisk must be one of: low, medium, high",
        "options": {
          "systemMessage": "You are a strict intent router for a UK plumbing WhatsApp assistant. Output JSON only. Use route=general when the question is a general plumbing/heating question not dependent on company policy. Use route=business for service area, booking, quote, company policy, pricing process, or company-specific questions. Use route=emergency for urgent leaks, flooding, no heating/hot water in urgent context, boiler breakdown with urgency, sewage overflow, water through ceiling, cannot isolate water, vulnerable occupants, or gas smell. Use route=human when user explicitly asks for a human or is angry/distressed."
        }
      },
      "id": "d9db3948-1e47-41bf-8f2d-feda2da1a509",
      "name": "Intent Router",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1344,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ JSON.parse($json.output).route }}",
              "rightValue": "business",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d319a4e4-4ca1-4eca-9a9b-aa24611ffc4b",
      "name": "Route Business?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1664,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ JSON.parse($('Intent Router').item.json.output).route }}",
              "rightValue": "general",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6131e6a1-fab9-4860-873a-233f64926360",
      "name": "Route General?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1888,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer ({{ $('Normalize Input').item.json.from }}): {{ $('Normalize Input').item.json.text }}",
        "options": {
          "systemMessage": "You are the WhatsApp Customer Service & Booking Agent for Peterborough Plumbers. Reply in concise natural British English. Max 2 short sentences unless safety requires more. Use business facts only for company-specific answers. Never invent prices, ETAs, or guaranteed availability. Ask one useful next question when needed. If you have enough data for a lead, use the Create/Update Lead Tool. If this is urgent, tell them calling is fastest."
        }
      },
      "id": "2b910ca3-3e62-492b-8093-23adf09093ec",
      "name": "Business Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2112,
        -160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer this customer message safely and briefly.\\n\\nMessage: {{ $('Normalize Input').item.json.text }}",
        "options": {
          "systemMessage": "You are a cautious UK plumbing and heating information assistant. Answer short WhatsApp-style. You may answer general plumbing/heating questions using general knowledge. Do not invent Peterborough Plumbers policies. Do not provide exact diagnosis, exact prices, or unsafe gas/electrical advice. If symptoms could be urgent, advise inspection or human review."
        }
      },
      "id": "00b51641-4c96-402e-a42f-0cd44f3ea7a2",
      "name": "General Fallback Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2112,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer message: {{ $('Normalize Input').item.json.text }}",
        "options": {
          "systemMessage": "You are an emergency/human handoff agent for a UK plumbing company. Keep it calm and direct. For gas smell, tell them to leave property, avoid switches/flames, turn off gas at meter if safe, and call the gas emergency line first. For flooding, advise isolating water if safe. Then tell them a human will review and calling is fastest."
        }
      },
      "id": "74c3e9ea-591a-4f8f-83b2-82c5e7e883e1",
      "name": "Emergency Or Human Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2128,
        448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract structured data from this conversation turn and return JSON only.\\n\\nCustomer number: {{ $('Normalize Input').item.json.from }}\\nCustomer name: {{ $('Normalize Input').item.json.senderName }}\\nIncoming message: {{ $('Normalize Input').item.json.text }}\\nAgent reply: {{ $json.output }}",
        "options": {
          "systemMessage": "Return strict JSON only with keys: name, phone, postcode, serviceType, issueSummary, urgency, preferredTime, propertyType, customerType, needsLeadUpdate. Use the WhatsApp number as phone unless a different phone is clearly given. If unknown, return empty string for text fields and false for booleans."
        }
      },
      "id": "05ef6332-c145-4e7e-a4f5-9dd4e4150561",
      "name": "Extract Structured Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2528,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL + '/api/whatsapp/customer/upsert' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.APP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $('Normalize Input').item.json.from }}\",\n  \"senderName\": \"{{ $('Normalize Input').item.json.senderName }}\",\n  \"fields\": {{ $('Extract Structured Data').item.json.output }}\n}",
        "options": {}
      },
      "id": "9a7e82be-9e22-45e0-bcdf-86d677fb88ac",
      "name": "Upsert Customer Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL + '/api/whatsapp/chat/bot-reply' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.APP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $('Normalize Input').item.json.from }}\",\n  \"replyText\": {{ JSON.stringify($json.output) }},\n  \"routeUsed\": \"{{ JSON.parse($('Intent Router').item.json.output).route }}\"\n}",
        "options": {}
      },
      "id": "8f9b8e49-8f4d-47fa-94a7-0e86b1644bec",
      "name": "Store Bot Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        192
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $env.WA_PHONE_NUMBER_ID }}",
        "recipientPhoneNumber": "={{ $('Normalize Input').item.json.from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b86da30b-1a1b-4c70-a296-1ffd3e346354",
      "name": "Send Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3152,
        192
      ],
      "webhookId": "bce163e1-2e3d-4027-aac6-f14a84ce680d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize Input').item.json.from }}"
      },
      "id": "3a8cd5ce-7c62-4645-adc8-009e74d3dcb0",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2176,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL + '/api/whatsapp/lead/upsert' }}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $('Normalize Input').item.json.from }}\",\n  \"name\": \"{name}\",\n  \"phone\": \"{phone}\",\n  \"postcode\": \"{postcode}\",\n  \"serviceType\": \"{serviceType}\",\n  \"issueSummary\": \"{issueSummary}\",\n  \"urgency\": \"{urgency}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "name",
              "description": "Customer full name"
            },
            {
              "name": "phone",
              "description": "Customer phone number"
            },
            {
              "name": "postcode",
              "description": "Property postcode e.g. PE1 2AB"
            },
            {
              "name": "serviceType",
              "description": "Service needed e.g. boiler repair"
            },
            {
              "name": "issueSummary",
              "description": "Short problem summary"
            },
            {
              "name": "urgency",
              "description": "low / medium / high"
            }
          ]
        }
      },
      "id": "b6febcda-ea6f-4f47-910e-5da9cfb426f6",
      "name": "Create Or Update Lead Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2304,
        48
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "c473d9a5-7c72-4147-9f09-7ffef159696a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1344,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "VQVCMgBfyEgCrw5b",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Msg": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Customer Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Get Audio Media URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Media URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Use Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Transcript": {
      "main": [
        [
          {
            "node": "Store Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound Message": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Bot Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Active?": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Route Business?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Business?": {
      "main": [
        [
          {
            "node": "Business Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route General?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route General?": {
      "main": [
        [
          {
            "node": "General Fallback Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emergency Or Human Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Agent": {
      "main": [
        [
          {
            "node": "Extract Structured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Fallback Agent": {
      "main": [
        [
          {
            "node": "Extract Structured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Or Human Agent": {
      "main": [
        [
          {
            "node": "Extract Structured Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Data": {
      "main": [
        [
          {
            "node": "Upsert Customer Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer Profile": {
      "main": [
        [
          {
            "node": "Store Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bot Reply": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Business Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Or Update Lead Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Router",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b5264524-41d5-49ca-a3fb-20ff72552917",
  "meta": {
    "instanceId": "ff3304c66ca0869e5b25e541efa316a768fdb73d58c4b8dc0277ac5caa92c13b"
  },
  "id": "Ww7JUnOwQuDWEO9G",
  "tags": []
}