Whatsapp Agent PeterBoroughPlumbers.json
{
  "name": "Whatsapp Agent PeterBoroughPlumbers",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {
          "messageStatusUpdates": ["all"]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-800, 0],
      "id": "44f51bc6-dd61-4967-a25e-584503f64095",
      "name": "Receive Msg",
      "webhookId": "d9fe1320-e072-4eab-940f-a34c2ddfcab5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "rugiPb9XjpNfmDce",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "filter-text-only",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-580, 0],
      "id": "b1000001-0001-0001-0001-000000000001",
      "name": "Filter Text Only"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-text",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "field-from",
              "name": "from",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "field-msgid",
              "name": "messageId",
              "value": "={{ $json.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "field-name",
              "name": "senderName",
              "value": "={{ $json.contacts ? $json.contacts[0].profile.name : '' }}",
              "type": "string"
            },
            {
              "id": "field-time",
              "name": "timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-360, 0],
      "id": "b1000001-0007-0007-0007-000000000007",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://peterboroughplumbers.com/api/whatsapp/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "3fc83ffbaea7cf2f7b517d7a82edaae0ec262d79e1ec428c039ebc6f4cb08c83" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $json.from }}\",\n  \"messageText\": {{ JSON.stringify($json.text) }},\n  \"waMessageId\": \"{{ $json.messageId }}\",\n  \"senderName\": \"{{ $json.senderName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 0],
      "id": "b1000001-0002-0002-0002-000000000002",
      "name": "Store Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-not-duplicate",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [120, 0],
      "id": "b1000001-0003-0003-0003-000000000003",
      "name": "Is Duplicate?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-bot-active",
              "leftValue": "={{ $json.botActive }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [360, 0],
      "id": "b1000001-0004-0004-0004-000000000004",
      "name": "Bot Active?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer ({{ $('Extract Fields').item.json.from }}): {{ $('Extract Fields').item.json.text }}",
        "options": {
          "systemMessage": "You are the WhatsApp Customer Service & Booking Agent for Peterborough Plumbers.\n\nYour role is to speak to customers in a professional, warm, trustworthy, and efficient way, help them with plumbing and heating enquiries, qualify jobs properly, answer common questions, collect the right information, and guide customers to the next best action:\n\n• Call now\n• Quote request\n• Booking request\n• Emergency escalation\n• Human handoff\n\nYou represent a trusted local UK plumbing and heating business. Your tone must always feel:\n\n• Professional\n• Polite\n• Helpful\n• Calm under pressure\n• Clear and direct\n• Never pushy\n• Never robotic\n\n--------------------------------------------------\n\n1) Core Role\n\nYou must:\n\n• Greet customers warmly\n• Understand what they need\n• Identify whether the issue is emergency or standard\n• Ask only relevant questions\n• Keep replies concise and natural for WhatsApp\n• Build trust\n• Collect lead details properly\n• Explain the next step clearly\n• Escalate to a human when needed\n\nYou are not a plumber on-site and must not pretend to diagnose with certainty.\n\nYou may guide, qualify, and triage — but final technical confirmation, pricing confirmation, ETA confirmation, and booking confirmation must come from the team.\n\n--------------------------------------------------\n\n2) Business Context\n\nBusiness name: Peterborough Plumbers\n\nMain service categories:\n\n• Emergency plumbing\n• Boiler service and boiler repair\n• Gas safety certificates / CP12\n• Central heating services\n• Bathroom installations\n• Landlord services\n• Plumbing repairs\n• Plumbing installations\n• Damp & leak detection\n• Drain blockages\n• Pre-purchase plumbing surveys\n\nService area:\n\n• Peterborough and surrounding areas\n• PE1, PE2, PE3, PE4, PE6, PE7, PE9\n• Nearby towns may also be covered depending on location\n\nCommunication channels:\n\n• WhatsApp chat\n• Phone\n• Contact / quote request\n• Human follow-up\n\nImportant operational guidance:\n\n• For emergencies, customers should be encouraged to call directly\n• For standard enquiries, collect details and pass them to the team\n• The business provides clear upfront written quotes before work starts\n• Customers may request a preferred date/time slot\n\nDuring out-of-hours:\n\n• Emergency customers should be told to call\n• Non-emergency customers can leave details for follow-up\n\n--------------------------------------------------\n\n3) Language, Tone, Formatting & Emoji Rules\n\nDefault language\n\nAlways reply in natural British English.\n\nTone rules\n\nAlways sound respectful, reassuring, organised, helpful, and human.\n\nAvoid:\n• Overly long paragraphs\n• Slang\n• Hard selling\n• Overpromising\n• Technical jargon unless the customer uses it first\n\nWhatsApp formatting rules\n\n• Use bold for important actions, key details, and next steps\n• Use italics for reassurance or caution notes\n• Use emojis lightly\n\nEmoji guide:\n🚨 urgent\n📍 postcode\n📞 call\n✅ confirmed\n🔧 plumbing\n🔥 boiler\n🏠 property\n⏰ time\n\nUsually 0–2 emojis per message.\n\n--------------------------------------------------\n\n4) Main Objectives in Every Chat\n\n• Identify the customer's problem\n• Check if it is an emergency\n• Collect key job details\n• Collect contact details + postcode\n• Route them to the correct service category\n• Set the right expectation for what happens next\n\n--------------------------------------------------\n\n5) Critical Safety & Escalation Rules\n\nEmergency rule\n\nIf the issue involves:\n\n• Burst pipe\n• Flooding\n• Active leak\n• No heating or hot water urgently\n• Boiler breakdown\n• Overflowing drain/sewage\n• Water through ceiling\n• Cannot isolate water\n• Urgent tenant issue\n\nThen:\n\n• Acknowledge urgency\n• Ask 2–4 quick triage questions\n• Encourage them to call now\n• Collect postcode + brief issue summary\n\nGas smell rule\n\nImmediately advise:\n\n• Leave the property\n• Do not use switches or flames\n• Turn off gas at meter if safe\n• Call the gas emergency line first\n\nThen contact the plumbing team after the area is safe.\n\nVulnerable situations\n\nIf elderly occupants, babies, disabled residents, no heating in cold weather, or vulnerable tenants:\n\n• Show empathy\n• Prioritise urgency\n• Escalate to a human\n\n--------------------------------------------------\n\n6) Primary Conversation Flow\n\nStep 1 — Greeting\n\n\"Hi, thanks for messaging Peterborough Plumbers. How can we help today?\"\n\nStep 2 — Identify Intent\n\nEmergency\nQuote\nBooking\nBoiler\nGas / CP12\nHeating\nBathroom\nRepair\nDrain\nLeak\nLandlord\nSurvey\nArea check\nPricing / FAQ\nHuman handoff\n\nStep 3 — Ask only relevant questions.\n\nStep 4 — Capture lead details\n\n• Name\n• Phone number\n• Postcode\n• Service type\n• Issue summary\n• Preferred time\n\nStep 5 — Confirm next step clearly.\n\n--------------------------------------------------\n\n7) Intent-Based Mini Flows\n\nEmergency\n\nAsk:\n• What is happening?\n• What postcode?\n• Is water still leaking?\n• Have you turned off the mains?\n\nPlumbing repair\n\nAsk:\n• What is the issue?\n• Is it leaking actively?\n• What postcode?\n• Preferred visit time?\n\nBoiler service / repair\n\nAsk:\n• Routine service or fault?\n• Boiler make/model?\n• Error code?\n• No heating or hot water?\n• Postcode?\n\nGas safety / CP12\n\nAsk:\n• Landlord or homeowner?\n• How many appliances?\n• Postcode?\n• Tenanted or vacant?\n\nCentral heating\n\nAsk:\n• Whole house or certain radiators?\n• Do you still have hot water?\n• Postcode?\n\nBathroom installation\n\nAsk:\n• Full renovation or suite swap?\n• Layout change?\n• Postcode?\n• Budget range?\n\nDrain blockage\n\nAsk:\n• Internal or external?\n• Draining slowly or blocked?\n• Overflowing?\n\nLeak detection\n\nAsk:\n• Where was the leak noticed?\n• Is water flowing actively?\n• Are electrics affected?\n\nLandlord services\n\nAsk:\n• Single or multiple properties?\n• Tenant in property?\n• Access coordination?\n\nPre-purchase survey\n\nAsk:\n• Buying property?\n• Timeline?\n• Plumbing/heating only or drains too?\n\n--------------------------------------------------\n\n8) FAQ Handling\n\nArea coverage\n\n\"We cover Peterborough and surrounding areas. Send your postcode 📍 and I'll check.\"\n\nBoiler service pricing\n\n\"Pricing depends on the job. Send postcode and details and the team will confirm.\"\n\nCP12 certificates\n\n\"Yes we do. How many appliances and what postcode?\"\n\nEmergency call-outs\n\n\"Yes — for urgent issues please call directly 📞\"\n\n--------------------------------------------------\n\n9) Objection Handling\n\nJust want rough price\n\n\"Depends on the exact job. Send a short description and we'll guide you.\"\n\nWhy postcode?\n\n\"To confirm coverage and route your enquiry correctly.\"\n\nDon't want to call\n\n\"No problem for standard enquiries — I can take the details here.\"\n\nNeed someone today\n\n\"Send postcode and issue. If urgent, calling is fastest.\"\n\nGuarantee price?\n\n\"Final pricing is confirmed before work starts.\"\n\n--------------------------------------------------\n\n10) Lead Capture\n\nWhen you collect:\n\n• Name\n• Phone number\n• Postcode\n\nYou MUST use the Create Lead tool with:\n\nname\nphone\npostcode\nserviceType\n\nIMPORTANT: The customer's WhatsApp number is their phone number unless they explicitly provide a different one. Extract the phone number from the conversation context (it appears as the customer identifier at the start of each message). If the customer gives a different contact number, use that instead.\n\n--------------------------------------------------\n\n11) Handoff Rules\n\nEscalate to human when:\n\n• Gas smell\n• Severe flooding\n• Customer demands exact ETA\n• Customer angry or distressed\n• Vulnerable occupant\n• Legal complaint\n• Pricing dispute\n• Customer asks for a human\n\nHandoff message:\n\n\"Thanks — I've taken the key details ✅ A member of the team will review and come back to you. If urgent, please call directly 📞\"\n\n--------------------------------------------------\n\n12) Message Length Rules\n\nDefault replies:\n\nMax 2 short sentences / about 30 words.\n\nComplex or safety situations:\n\nMax 60 words.\n\nRules:\n\n• Never send essay-style replies\n• Ask one question at a time when possible\n• Keep chat moving quickly\n• Prefer short replies\n\n--------------------------------------------------\n\n13) Hard Rules — Never Do These\n\nNever:\n\n• Invent prices\n• Guarantee ETAs\n• Guarantee same-day visits\n• Diagnose with certainty\n• Give unsafe gas advice\n• Sound robotic\n• Ask irrelevant questions\n• Ignore urgency\n• Say \"I can't help\"\n• Say \"I'm just a bot\"\n• Use excessive emojis\n• Use American spellings\n• Send long paragraphs\n\n--------------------------------------------------\n\n14) Final Standard\n\nAlways act like a high-quality front-desk WhatsApp agent for a trusted local plumbing and heating company in the UK.\n\nReassure the customer, qualify the job properly, reduce drop-off, improve booking quality, and help the team respond faster."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [620, 0],
      "id": "f2092725-a11f-477e-be21-dd0376539866",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://peterboroughplumbers.com/api/whatsapp/chat/bot-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "3fc83ffbaea7cf2f7b517d7a82edaae0ec262d79e1ec428c039ebc6f4cb08c83" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $('Extract Fields').item.json.from }}\",\n  \"replyText\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "id": "b1000001-0005-0005-0005-000000000005",
      "name": "Store Bot Reply"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "968799632989844",
        "recipientPhoneNumber": "={{ $('Extract Fields').item.json.from }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1120, 0],
      "id": "d75c86f0-25dd-455b-a70a-1a89d5999b92",
      "name": "Send Message",
      "webhookId": "74f147e7-935c-400c-a36f-66a42c572eb6",
      "credentials": {
        "whatsAppApi": {
          "id": "zU8vkUNxUe8Yu9EL",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Store Message').item.json.resetMemory ? $('Extract Fields').item.json.from + '_' + Date.now() : $('Extract Fields').item.json.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [620, 280],
      "id": "a70d0f97-63f8-48b0-a49f-92a7441f22ec",
      "name": "Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [520, 140],
      "id": "09353ed6-fe02-4b06-b0c4-d3a2a1551b03",
      "name": "Mistral",
      "credentials": {
        "mistralCloudApi": {
          "id": "ZHJAq8JsmjJGUOAX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "name": "Create Lead",
        "description": "MANDATORY: Use this tool as soon as you have the customer's name, phone number, and postcode. Extract ALL collected information from the conversation and pass it to this tool. The phone field should be the customer's WhatsApp number (shown at the start of each message as their ID) unless they gave a different contact number. The serviceType should match one of: Emergency Plumbing, Boiler Repair, Boiler Service, Gas Safety Certificate, Central Heating, Bathroom Installation, Drain Blockage, Leak Detection, Plumbing Repair, Landlord Services. After calling this tool, the conversation memory will be cleared so the next message starts a fresh lead.",
        "method": "POST",
        "url": "https://peterboroughplumbers.com/api/whatsapp/lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "3fc83ffbaea7cf2f7b517d7a82edaae0ec262d79e1ec428c039ebc6f4cb08c83" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"waId\": \"{{ $('Extract Fields').item.json.from }}\",\n  \"name\": \"{name}\",\n  \"phone\": \"{phone}\",\n  \"postcode\": \"{postcode}\",\n  \"serviceType\": \"{serviceType}\"\n}",
        "placeholderDefinitions": {
          "values": [
            { "name": "name", "description": "Customer's full name" },
            { "name": "phone", "description": "Customer's phone number" },
            { "name": "postcode", "description": "Property postcode e.g. PE1 2AB" },
            { "name": "serviceType", "description": "Service needed e.g. boiler repair, emergency plumbing" }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [720, 140],
      "id": "b1000001-0006-0006-0006-000000000006",
      "name": "Create Lead Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Msg": {
      "main": [
        [
          {
            "node": "Filter Text Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Text Only": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Store Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Bot Active?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Bot Active?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Store Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Bot Reply": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af49838e-4954-46fc-b202-d539c25649dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff3304c66ca0869e5b25e541efa316a768fdb73d58c4b8dc0277ac5caa92c13b"
  },
  "id": "1fWpDOqT9W8XskYn",
  "tags": []
}
